.pino-nav {
  background-color: #e48004;
  margin-bottom: 5em;
}

.pino-footer {
  padding: 2em 0;
}

.nav {
  background-color: inherit;
}

.hero {
  background-color: inherit;
}

.nav-item a, a.nav-item {
  color: white;
}

.left-ruled {
  border-left: 1px solid #e48004;
  padding: 4em 0em 2em 2em;
}

dl {
  margin: 1em 0;
}

dl dt {
  border-bottom: 1px solid #ccc;
  margin-top: 1em;
}

dl dd {

}

.tile.is-child {
  transition: all 0.2s ease;
  opacity: 1;
  overflow: hidden;
}

.tile.is-child img {
  transition: all 0.25s ease;
}

.tile.is-child:hover {
  opacity: .8;
}

.tile.is-child:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/*
  orange  e48004
  blue    414d59
*/