.film-menu#film-menu
  aside.menu
    p.menu-label 2017
    ul.menu-list
      li: a(href="/films/vico") Vico C: La Vida Del Filósofo
      li: a(href="/films/sanky") Sanky Panky 3
    p.menu-label 2016
    ul.menu-list
      li: a(href="/films/tuberculo") Tubérculo Presidente
      li: a(href="/films/pepo") Pepo Pal Senado
    p.menu-label 2015
    ul.menu-list
      li: a(href="/films/domirriquenos") Los Domirriqueños
      li: a(href="/films/boda") Una Boda en Castañer